:root{
  --primary-color: linear-gradient(90deg, rgb(12, 12, 110), rgb(192, 59, 137));
  --secondary-color: #eed877;
}


.container {
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
}

h1{
    text-align: center;
}

body {
    color: var(--secondary-color);
    background: var(--primary-color);
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    background-color: var(--secondary-color);
    color: navy;
    border-radius: 7px;
    margin: 8px auto;
    font-weight: bold;
}

button:hover{
 background-color: rgb(192, 59, 137);
 transition: background-color ease-in-out .2s;
}

input, select {
    color: black;
    border-radius: 7px;
    background-color: rgb(240, 233, 233);
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
  }

  .surplus {
    font-size: 27px;
    color: greenyellow;
  }

  .deficit {
    font-size: 27px;
    color: red;
  }

  fieldset {
    border-radius: 7px;
    border-width: 3px;
    border-color: var(--secondary-color);
  }



  